# Ignore all files without extensions
*
!*.*
!*/

# Unignore makefiles
!GNUmakefile
!Makefile
!makefile

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# Custom 'trash' folders / files
[Ii]gnore/
[Tt]rash/
[Ss]yff/
[Ii]nne/
[Ii]gnore.*
[Tt]rash.*
[Ss]yff.*
[Ii]nne.*
#[Tt]est/
#[Tt]est.*

# OLD, NEW, and BAD suffixes/prefixes
*.old
*.OLD
old.*
OLD.*
*.new
*.NEW
new.*
NEW.*
*.bad
*.BAD
bad.*
BAD.*

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# Linux temporary and hidden files
*~
*.swp
.Trash-*
.directory
.fuse_hidden
.nfs

# Common executable formats
*.exe
*.out
*.app
*.elf

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

### Android ###
# Application files
*.apk
*.aar
*.ap_
*.aab

# Java class files
*.class

# Generated directories
bin/
gen/
out/

#  Uncomment the following line in case you need and you don't have the release build type files in your app
# release/

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Eclipse
.classpath
.project
.cproject
.settings/
proguard/

# Log Files
*.log

# Android Studio
*.ipr
/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
.navigation/
captures/
.externalNativeBuild
.cxx/
gen-external-apklibs
output.json

# IntelliJ
*.iws
/out/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
# ^comment out last line if keeping position of elements in Navigation Editor is wanted

# Keystore files
*.jks
*.keystore

# Google Services (e.g. APIs or Firebase)
#google-services.json

# Freeline
freeline.py
freeline/
freeline_project_description.json

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Version control
vcs.xml

# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
# lint/reports/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*

# Gradle files
.gradle

# Signing files
.signing/

# NDK
obj/

# IntelliJ IDEA

# User-specific configurations
.idea/caches/
.idea/libraries/
.idea/shelf/
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/jarRepositories.xml

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Mongo Explorer plugin
.idea/mongoSettings.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### AndroidStudio Patch ###
!/gradle/wrapper/gradle-wrapper.jar
