<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilne">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobilne">
        <activity android:name=".OnlineData"></activity>
        <activity android:name=".OnlineNumberGame" />
        <activity android:name=".OnlineNumberMenu" />
        <activity android:name=".NumberGame" />
        <activity android:name=".numberGame" />
        <activity android:name=".OnlineXOXOGame" />
        <activity android:name=".OnlinexoxoMenu" />
        <activity android:name=".LocalHistory" />
        <activity android:name=".ChooseHistory" />
        <activity android:name=".SimpleXOXO" />
        <activity android:name=".GameActivity3" />
        <activity android:name=".GameActivity2" />
        <activity android:name=".GameActivity1" />
        <activity android:name=".GamesListActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>